
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.logo{
    height: 90px;
    margin-bottom: 15px;
}

.createAccount-title {
    margin-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
    color: #002e56;
    font-size: 28px;
    font-weight: 600;
}

.signup-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
    width: 94%;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 92%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #3897f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: #3578e5;
}

.loginText{
    font-size: 16px;
    font-family: sans-serif;
    color: #262626;
}

.loginButton{
    color: #255bb0;
        font-weight: 600;
}

.loginButton:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(206, 80, 80);
}

/*   LoginForm.css   */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.login-title {
    margin-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
    color: #002e56;
    font-size: 28px;
    font-weight: 600;
}

.login-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #357ae8;
}

.signupText {
    font-size: 16px;
    font-family: sans-serif;
    color: #262626;
}

.signupButton {
    color:#3578e5;
    font-weight: 600;
}

.signupButton:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(206, 80, 80);
}

/*  login error msg */

.errorMessage p{
    font-size: 25px;
}